In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
#load the datasets
df = pd.read_csv('/kaggle/input/gender-classification-mg/gender_classification_v7.csv')

In [3]:
#matrix of feature values?
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [4]:
#head
df.head(10)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
5,1,13.0,6.8,1,1,1,1,Male
6,1,15.3,6.2,1,1,1,0,Male
7,0,13.0,5.2,0,0,0,0,Female
8,1,11.9,5.4,1,0,1,1,Female
9,1,12.1,5.4,0,0,0,0,Female

In [5]:
#drop if there are categorical values aside from target class
x = df[['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide', 'nose_long', 'lips_thin', 'distance_nose_to_lip_long']]
y = df['gender']

In [6]:
x.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0

In [7]:
y.head()

0      Male
1    Female
2      Male
3      Male
4    Female
Name: gender, dtype: object

In [8]:
#Shape of x and y
print("The shape of x: ", x.shape)
print("The shape of y: ", y.shape)

The shape of x:  (5001, 7)
The shape of y:  (5001,)

In [9]:
#x values
x

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [10]:
#y values
y

0         Male
1       Female
2         Male
3         Male
4       Female
         ...
4996    Female
4997    Female
4998    Female
4999    Female
5000      Male
Name: gender, Length: 5001, dtype: object

In [11]:
#x and y split into training and test each
from sklearn.model_selection import train_test_split

#splitting into 85% train & 15% test
X_train, X_test,  y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=123 )

In [12]:
#shape of x train & test and y train & test
print("The shape of x train: ", X_train.shape)
print("The shape of x test: ", X_test.shape)
print("The shape of y train: ", y_train.shape)
print("The shape of y test: ", y_test.shape)

The shape of x train:  (4250, 7)
The shape of x test:  (751, 7)
The shape of y train:  (4250,)
The shape of y test:  (751,)

In [13]:
#Perform Standardization

numerical_features = ['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide', 'nose_long', 'lips_thin', 'distance_nose_to_lip_long']

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Use the fit method to perform the transformation
scaler.fit(X_train [numerical_features])

# Use the transform method to perform the transformation
X_train.loc[:, numerical_features] = scaler.transform(X_train [numerical_features])

In [14]:
#Result of standardization rounded to 4 decimal places
X_train.describe().round(4)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
count,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000
mean,-0.0000,0.0000,-0.0000,0.0000,0.0000,-0.0000,-0.0000
std,1.0001,1.0001,1.0001,1.0001,1.0001,1.0001,1.0001
min,-2.5829,-1.6263,-1.5734,-0.9767,-1.0038,-0.9804,-0.9888
25%,0.3872,-0.9028,-0.8294,-0.9767,-1.0038,-0.9804,-0.9888
50%,0.3872,0.0016,-0.0855,-0.9767,0.9962,-0.9804,-0.9888
75%,0.3872,0.7251,0.6585,1.0238,0.9962,1.0200,1.0114
max,0.3872,2.0817,2.1464,1.0238,0.9962,1.0200,1.0114

In [15]:
X_train.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
3617,0.387159,0.272935,-0.829429,1.023813,-1.003772,-0.980427,-0.988769
2133,0.387159,-0.450579,-1.201409,-0.976741,-1.003772,-0.980427,-0.988769
208,0.387159,-0.541018,-1.573389,-0.976741,0.996242,1.019964,-0.988769
1615,0.387159,-0.902776,-0.457448,-0.976741,0.996242,1.019964,1.011359
668,-2.582921,0.544253,0.844483,1.023813,0.996242,1.019964,1.011359